/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */



@media only screen and (max-width: 991px){
    
    .navbar ~ .header, .navbar ~ .main-container {
        margin-right: 0 !important;
    }
    
    body#layout01 .navbar.header {
        background: #fff;
        height: 70px;
        position: fixed !important;
        box-shadow: none;
    }
}